<%include partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>Results for campgrounds near {Location}</h2>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new campground</a>
                </p>
        </div>
    </header>
    
<% campgrounds.forEach(function(campground, index){ %>
    

    <div class="results">
       <img src=" <%= campground.image %>" width ="100px;" height= "100px"/> 
       <h4><%= index+= 1 %>. 
           <a href="/campgrounds/<%= campground._id %>" >
                <%= campground.name %>
           </a>
       </h4>
       
       <P>State: <%= campground.state %> </P>
       
       
       
    </div>
    
    
<% }); %>
</div>
</br>



<%include partials/footer %>